{% load i18n %}

{% block subject %}
{% blocktrans %}Активация учетной записи на {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Здравстуй, {{ first_name }} {{ last_name }}!{% endblocktrans %}

{% blocktrans %}Вы получили это письмо, потому что вам необходимо завершить процесс активации учетной записи на сайте {{ site_name }}.{% endblocktrans %}

{% trans "Пожалуйста, перейдите по следующей ссылке для активации учетной записи:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "Спасибо, что пользуйтесь нашим сайтом!" %}

{% blocktrans %}Команда {{ site_name }}{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p style="font-family: Arial, sans-serif; font-size: 14px; color: #333;">
    {% blocktrans %}Здравстуй, {{ first_name }} {{ last_name }}!{% endblocktrans %}
</p>
<p style="font-family: Arial, sans-serif; font-size: 14px; color: #333;">
    {% blocktrans %}Вы получили это письмо, потому что вам необходимо завершить процесс активации учетной записи на сайте {{ site_name }}.{% endblocktrans %}
</p>

<p style="font-family: Arial, sans-serif; font-size: 14px; color: #333;">
    {% trans "Пожалуйста, перейдите по следующей ссылке для активации учетной записи:" %}
</p>

<p>
    <a href="{{ protocol }}://{{ domain }}/{{ url|safe }}" style="font-family: Arial, sans-serif; font-size: 14px; color: #1a73e8;">{{ protocol }}://{{ domain }}/{{ url|safe }}</a>
</p>

<p style="font-family: Arial, sans-serif; font-size: 14px; color: #333;">
    {% trans "Спасибо, что пользуйтесь нашим сайтом!" %}
</p>

<p style="font-family: Arial, sans-serif; font-size: 14px; color: #333;">
    {% blocktrans %}Команда {{ site_name }}{% endblocktrans %}
</p>
{% endblock html_body %}
